body{
  background-image: url("sunset.jpg");
  font-family: Brush Script MT;
  height: 100vh;
  text-align: center;
}
h1{
  font-size: 28px;
  margin: 100px auto 50px auto;
  padding: 50px auto;
}
#quoteBox{
  background-color: #D7BDE2;
  border: 5px solid #512E5F;
  border-radius: 20px;
  display: inline-block;
  font-size: 24px;
  font-style: Oblique;
  font-weight: Bold;
  height: 100px;
  padding: 50px;
  text-align: center;
  width: 900px;
}
#shareOnTwitter{
  background-color: #00aced;
  margin: auto 15px auto auto;
  padding: 10px 15px;
  border-radius: 10px;
  font-weight: Bold;
  float: right;
}
#getQuote{
  background-color:  #512E5F;
  margin-right: 175px;
  padding: 10px 15px;
  border-radius: 10px;
  float: right;
  font-weight: Bold;
}
footer{
  font-size: 10px;
}
@media screen and (max-width: 600px){
  h1{
    font-size: 16px;
    margin: 50px auto 25px auto;
    padding: 25px auto;
  }
  #quoteBox{
    font-size: 12px;
    font-style: Oblique;
    font-weight: Bold;
    height: 75px;
    margin: 0 auto;
    padding: 35px 15px;
    text-align: center;
    width: 250px;
  }
  #shareOnTwitter{
    margin: 15px 15px 15px 100px;
  }
  #getQuote{
    margin: 15px 50px 15px 0;
  }
}
